*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Azeret Mono;
}

:root {
    --text-color: rgb(13, 19, 33);
    --span-color: rgb(59, 64, 213);
    --white-color: rgb(255, 255, 255);
    --blue-color: #0056b3;
    --dark-white: #ccc;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header > nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    list-style: none;
}

header > nav > ul {
    list-style: none;
}

header nav ul li a {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li a span {
    color: var(--span-color);
}

.download-box {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-button {
    text-decoration: none;
    padding: 15px 20px;
    color: var(--text-color);
}

main {
    height: 695.47px;
    background: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero-section {
    width: 1023px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 148px;
}

main .hero-section .head-para {
    width: 906px;
    padding: 10px;
}

main .hero-section img {
    width: 160px;
    height: 160px;
}


.headline {
    color: var(--text-color);
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0%;
    gap: 24;
    text-align: center;
}

.footer-headline {
    color: var(--white-color);
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0%;
    gap: 24;
    text-align: center;
}

.paragraph {
    margin: 10px 0px;
    padding: 10px 32px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    font-size: 14px;
    gap: 24;
    font-weight: 400;
}

.heading_1 {
    font-size: 32px;
}

.heading_2 {
    font-size: 26px;
}

main .hero-section .btn {
    border-radius: 8px;
    background: var(--text-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    gap: 10;
    padding: 12px 20px;
    margin: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    width: 1012px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 40px;
}

.section-1, .section-2, .section-3, .section-4 {
    width: 906px;
    margin: 32px 0;
    padding: 32px;
    border-radius: 8px;
    background: linear-gradient(90.00deg, rgb(var(--white-color)),rgba(var(--white-color), 0) 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.section-2, .section-3, .section-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-part {
    width: 60%;
    text-align: justify;
}

.img-section {
    width: 30%;
}

.container .box-container img {
    width: 170px;
    height: 170px;
}

.text-part {
    padding: 10px 20px;
}

.text-part button {
    border: 1px solid rgb(13, 19, 33);
    padding: 8px 15px;
    margin: 10px 0;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
}

.text-part .inner-heading {
    margin-bottom: 10px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    
}

.justify {
    width: 100%;
    text-align: justify;
    opacity: 0.7;
    font-size: 14px;
    gap: 24;
    font-weight: 400;
}

.container .inspiration {
    width: 906px;
    margin: 32px 0;
}

.container .box {
    width: 1012px;
    /* width: 1215px; */
    display: flex;
    flex-direction: column;
}

.container .box .three-card {
    display: flex;
    justify-content: space-between;

}

.card-1, .card-2, .card-3 {
    width: 300px;
    border-radius: 16px;
    padding: 30px;   
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.card-1, .card-3 {
    background: rgba(255, 76, 30, 0.05);
}

.card-2 {
    background: rgba(0, 76, 232, 0.05);
}

h3 {
    margin: 12px 0;
}

.link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.container .box .three-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-one, .card-two, .card-three {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(var(--text-color), 0.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    gap: 30px;
}

.footer {
    border-radius: 16px;
    width: 1012px;
    position: relative; 
    height: 300px; 
    color: var(--white-color); 
    padding: 20px; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/handshake.jpg') no-repeat center center; 
    background-size: cover;
    filter: brightness(50%); 
    z-index: 1; 
    border-radius: 16px; 
}

.text-section {
    width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    padding: 0px;
    z-index: 2; 
}

form {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    box-sizing: border-box;
    border: 1px solid rgba(var(--text-color), 0.15);
    border-radius: 8px;
    z-index: 2; 
}

input[type="text"] {
    flex: 1; 
    padding: 10px;
    border: 1px solid var(--dark-white); 
    border-radius: 8px; 
    width: 580px;
    height: 60px;
}

.submit {
    padding: 10px 20px; 
    width: 125px;
    height: 60px;
    border: none; 
    background-color: var(--white-color); 
    color: var(--text-color); 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.submit:hover {
    background-color: var(--blue-color); 
    transform: scale(1.05); 
    color: var(--white-color);
}

.copyright-section {
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(13, 19, 33, 0.03);
}

.copyright-section .right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.copyright-section .right ul li {
    list-style: none;
}




.hide {
    display: none;
}


/* Responsive styles */
/* Mobile styles */
@media (max-width: 576px) {

    header {
        width: 100%;
    }

    header > nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    main, 
    main .hero-section, 
    main .hero-section .head-para {
        width: 100%;
    }

    main .hero-section {
        margin: 10px;
    }

    .container .box-container {
        width: 100%;
        padding: 0;
    }

    .container .box-container .section-1,
    .container .box-container .section-2,
    .container .box-container .section-3,
    .container .box-container .section-4 {
        width: 100%;
        padding: 10px;
        gap: 20px;
        flex-direction: column;
    }

    .container iframe {
        width: 100%;
        height: 300px;
    }

    .container .box, .container .inspiration {
        width: 100%;
        padding: 10px;
    }

    .container .box-section {
        flex-direction: column;
        gap: 20px;
    }

    .three-card, .three-div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card-1, .card-2, .card-3,
    .card-one, .card-two, .card-three {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    } 

    .card-one img, .card-two img, .card-three img {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin-bottom: 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
    } 

    .footer {
        width: 100%;
        height: 80%;
    }

    .footer .text-section, .footer .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    input[type="text"] {
        width: 300px;
        height: 120px;
    }

    .submit {
        padding: 10px; 
        width: 100px;
        height: 40px;
        margin-top: 20px;
    }

    .copyright-section {
        height: auto;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .copyright-section .right ul {
        gap: 10px;
    }
    
    .copyright-section .left {
        text-align: center;
    }
} 


@media (min-width: 576px) and (max-width: 992px) {

    header {
        width: 100%;
    }

    header > nav {
        display: flex;
        /* flex-direction: row;  */
        justify-content: space-between; 
        align-items: center;
        gap: 20px;
    }

    main, 
    main .hero-section, 
    main .hero-section .head-para {
        width: 100%;
    }

    main .hero-section {
        margin: 20px; 
    }

    .container .box-container {
        width: 100%;
        padding: 10px; 
    }

    .container .box-container .section-1,
    .container .box-container .section-2,
    .container .box-container .section-3,
    .container .box-container .section-4 {
        width: 100%;
        padding: 15px; 
        gap: 15px; 
        flex-direction: row; 
    }

    .container iframe {
        width: 100%;
        height: 400px; 
    }

    .container .box, .container .inspiration {
        width: 100%;
        padding: 15px; 
    }

    .container .box-section {
        flex-direction: row;
        gap: 20px; 
    }

    .three-card, .three-div {
        flex-direction: row; 
        align-items: flex-start; 
        gap: 20px;
    }

    .card-1, .card-2, .card-3,
    .card-one, .card-two, .card-three {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 20px;
    } 

    .card-one img, .card-two img, .card-three img {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin-bottom: 10px;
    }

    .container {
        width: 100%;
        padding: 15px; 
    } 

    .footer {
        width: 100%;
        height: auto; 
    }

    .footer .text-section, .footer .form {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    input[type="text"] {
        width: 400px;
        height: 50px; 
    }

    .submit {
        padding: 10px; 
        width: 120px; 
        height: 45px; 
        margin-top: 20px;
    }

    .copyright-section {
        height: auto;
        padding: 30px; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .copyright-section .right ul {
        gap: 10px;
    }
    
    .copyright-section .left {
        text-align: center;
    }
}
