*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(13, 19, 33);
    --span-color: rgb(59, 64, 213);
    --white-color: rgb(255, 255, 255);
}

header > nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    list-style: none;
}

header > nav > ul {
    list-style: none;
}

header nav ul li a {
    color: var(--text-color);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li a span {
    color: var(--span-color);
}

.download-box {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-button {
    text-decoration: none;
    padding: 17px 24px 17px 24px;
    color: var(--text-color);
}

main {
    height: 437px;
    background: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero-section {
    width: 670px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 148px;
}

main .hero-section img {
    width: 160px;
    height: 160px;
}

main .hero-section .headline {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0%;
    gap: 24;
    text-align: center;
}

main .hero-section .paragraph {
    margin: 10px;
    width: 570px;
    text-align: center;
    opacity: 0.7;
    font-size: 16px;
    gap: 24;
    font-weight: 400;
}

main .hero-section .btn {
    border-radius: 8px;
    background: var(--text-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    gap: 10;
    padding: 12px 20px;
    margin: 10px;
}